@using StructureOfCatalogs.Models;
@{
    Layout = null;
}

@model Evidence

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Evidance Catalog</title>
    </head>
    <body>
        <h1>"Folder - @Model.Name"</h1>
        <a href="/CreationDigitalImages">Creation Digital Images</a>
    </body>
</html>