@using StructureOfCatalogs.Models;
@using StructureOfCatalogs.Models.Data;
@{
    Layout = null;
}

@model FinalProduct

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Structure Of Catalogs</title>
    </head>
    <body>
        <h1>"Folder - @Model.Name"</h1>
        @{
            using(ApplicationContext db = new ApplicationContext())
            {
                var creation = db.FinalProduct.ToList();
                foreach(var item in creation)
                {
                    <a href="/CreationDigitalImages/@item.Name">@item.Name</a><br>
                }
            }
        }
        <a href="/CreationDigitalImages/GraphicProducts">Graphic Products</a><br>
        <a href="/CreationDigitalImages">Creation Digital Images</a>
    </body>
</html>
