@using StructureOfCatalogs.Models;
@{
    Layout = null;
}

@model GraphicProducts

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Structure Of Catalogs</title>
    </head>
    <body>
        <h1>"Folder - @Model.Name"</h1>
        <a href="/Process">Process</a><br>
        <a href="/Final-Product">Final Product</a><br>
        <a href="/Home">Home</a><br>
    </body>
</html>
