@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Structure Of Catalogs</title>
    </head>
    <body>
        <h2>Hello METANIT.COM!</h2>
    </body>
</html>
